<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Server=localhost;Port=3306;Database=virtual_wallet;UserId=root;Password=root"/>
		<add key="ImageFolderPath" value="C:\Users\DaK\source\repos\KoD_Library_HCI_Core6\KoD_Library_HCI_Core6\images\"/>
	</appSettings>
</configuration>